.card {
  display: flex;
  gap: 20px;
  margin: 5px;
}
.info {
  color: #525a69;
}

.links {
  background-image: linear-gradient(90deg, #525a69, #898dda);
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;
}
.links:hover {
  color: #525a69;
  background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
}
