.searchBtn {
  background-image: linear-gradient(90deg, #525a69, #898dda);
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  border: none;
  margin: 5px;
}
.searchBtn:hover {
  background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
}
.searchInput {
  border: 2px solid #525a69;
  border-radius: 10px;
  height: 30px;
  margin: 5px;
}
.searchInput:hover {
  border: 2px solid #7b81ec;
}
.listItem {
  text-decoration: none;
  color: #525a69;
  padding: 4px;
  display: inline-block;
}
.listItem:hover {
  color: #fff;
  background-image: linear-gradient(90deg, #7b81ec, #3bd1d3);
  border-radius: 5px;
}
